### TP 02

1. Donnez le montant total des transactions.
2. Donnez le montant moyen des transactions.
3. Quelle est la transaction la plus élevée ?
4. Quel type de transaction est le plus fréquent ?
5. Le nombre de transactions par type
6. Identifiez les 10 clients (nameOrig) ayant effectué le plus grand nombre de transactions.
7. Combien y a-t-il de fraudes dans le dataset ?
8. Quel type de transaction est le plus associé à une fraude ?
9. Quelle est la somme totale fraudée ?
10. Filtrez les transactions frauduleuses de type CASH_OUT.
11. Affichez toutes les lignes où oldbalanceDest < newbalanceDest.

In [1]:
import pandas as pd

df = pd.read_csv("./transactions.csv")

1. Donnez le montant total des transactions.

In [2]:
print(df['amount'].sum())

36048317132.03

2. Donnez le montant moyen des transactions.

In [3]:
print(df['amount'].mean())

180242.48687258436

3. Transaction la plus élevée

In [4]:
print(df['amount'].max())

52042803.47

4. Type de transaction le plus fréquent

In [7]:
print(df['type'].mode()[0])

CASH_OUT

5. Nombre de transactions par type

In [8]:
print(df['type'].value_counts())

type
CASH_OUT    70571
PAYMENT     67562
CASH_IN     43919
TRANSFER    16630
DEBIT        1317
Name: count, dtype: int64

6. 10 clients avec le plus de transactions

In [9]:
print(df['nameOrig'].value_counts().head(10))

nameOrig
C2094644825    2
C1280338612    2
C33594415      2
C1360972649    2
C687467045     2
C448863087     2
C967833072     2
C115539056     2
C2039296578    2
C108988841     1
Name: count, dtype: int64

7. Nombre de fraudes

In [10]:
print(df['isFraud'].sum())

282

8. Type de transaction le plus associé à une fraude

In [14]:
print(df[df['isFraud'] == 1]['type'].value_counts().idxmax())

TRANSFER

9. Somme totale fraudée

In [15]:
print(df[df['isFraud'] == 1]['amount'].sum())

429776257.87

 10. Transactions frauduleuses de type CASH_OUT

In [16]:
print(df[(df['isFraud'] == 1) & (df['type'] == 'CASH_OUT')])

        step      type      amount     nameOrig  oldbalanceOrg  \
86       125  CASH_OUT   222097.11  C1167153094      222097.11
1060     735  CASH_OUT   243459.96  C1148037845      243459.96
1428      59  CASH_OUT   394388.09  C1802030448      394388.09
9586     671  CASH_OUT    36956.27  C1768139815       36956.27
11159    306  CASH_OUT  4262592.28  C1909269068     4262592.28
...      ...       ...         ...          ...            ...
191595   436  CASH_OUT  1532229.72   C685396140     1532229.72
194615    25  CASH_OUT   781953.11  C1665079678      781953.11
195411   122  CASH_OUT    91637.51  C1556025752       91637.51
196211   212  CASH_OUT   362988.52   C739877872      362988.52
197098   330  CASH_OUT  9198459.96  C1904629487     9198459.96

        newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud
86                 0.0   C744862329       383533.13       605630.23        1
1060               0.0   C387251817      9459523.04      9702983.01        1
1428               0.0   C707965723      1260564.49      1654952.58        1
9586               0.0  C1475840276       116628.89       153585.15        1
11159              0.0  C1758624073       237422.88      4500015.17        1
...                ...          ...             ...             ...      ...
191595             0.0   C961098321        89278.84      1621508.56        1
194615             0.0  C1566512642            0.00       781953.11        1
195411             0.0  C1407010141      7336697.67      7428335.18        1
196211             0.0  C1957802478      2158316.76      2521305.27        1
197098             0.0  C1741955070       258747.84     15173859.31        1

[132 rows x 10 columns]

11. Lignes où oldbalanceDest < newbalanceDest

In [17]:
print(df[df['oldbalanceDest'] < df['newbalanceDest']])

        step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0          8  CASH_OUT  158007.12   C424875646            0.0             0.0
1        236  CASH_OUT  457948.30  C1342616552            0.0             0.0
3        331  CASH_OUT   49555.14   C177696810        10865.0             0.0
4        250  CASH_OUT   29648.02   C788941490            0.0             0.0
9        156  CASH_OUT  180660.51   C106721885        10044.0             0.0
...      ...       ...        ...          ...            ...             ...
199985   238  CASH_OUT  329923.21  C1477709464            0.0             0.0
199986   329  CASH_OUT  236671.96  C2078303319          167.0             0.0
199992    43  CASH_OUT  253231.65  C1993282822            0.0             0.0
199995   212  CASH_OUT  204041.98  C1621547576        40423.0             0.0
199998    15  CASH_OUT   97305.08   C809605956        21328.0             0.0

           nameDest  oldbalanceDest  newbalanceDest  isFraud
0       C1298177219       474016.32      1618631.97        0
1       C1323169990      2720411.37      3178359.67        0
3        C462716348            0.00        49555.14        0
4       C1971700992        56933.09        86581.10        0
9       C1944402764        32319.16       212979.67        0
...             ...             ...             ...      ...
199985   C454591680      4048898.01      4378821.22        0
199986   C384335381       227199.26       504937.71        0
199992   C530212436       339892.92       593124.57        0
199995  C1571552280            0.00       204041.98        0
199998   C194464706            0.00        97305.08        0

[88368 rows x 10 columns]