In [2]:
# Import de pyspark => pip install pyspark==3.5.6
from pyspark.sql import SparkSession

### Création de la session spark :

In [ ]:
# Récupération/Création de l'instance spark liée au notebook
spark = SparkSession.builder.master("local").getOrCreate()
# Création d'un context spark pour exécuter des opérations sur le cluster
sc = spark.sparkContext

# def test(x):
#     return x % 2 != 0

In [ ]:
ma_liste = [3, 6, 8, 10, 25]

rdd = sc.parallelize(ma_liste)
#  Nouvelle RDD avec multiple de 2 de la première => transformation
rdd2 = rdd.map(lambda x: x * 2)

In [6]:
result = rdd2.collect()

In [8]:
result

[6, 12, 16, 20, 50]

In [ ]:
rdd3 = sc.parallelize(range(10000), 5)
rdd3.sum()

49995000

### Mettre fin à la session

In [10]:
spark.stop()