In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

spark = SparkSession.builder.master("local").getOrCreate()
sc = spark.sparkContext

In [3]:
schema = StructType([
    StructField("id", IntegerType()),
    StructField("nom", StringType()),
    StructField("age", IntegerType())
])

donnees = [
    (1, "Toto", 25),
    (2, "Tata", 35),
    (3, "Titi", 35),
]

df = spark.createDataFrame(donnees, schema)
df.show()

+---+----+---+
| id| nom|age|
+---+----+---+
|  1|Toto| 25|
|  2|Tata| 35|
|  3|Titi| 35|
+---+----+---+

In [4]:
# Enregistrement comme vue temporaire pour utiliser SQL
df.createOrReplaceTempView("personnes")

In [5]:
print("Toutes les personnes :")
spark.sql("SELECT * FROM personnes").show()

Toutes les personnes :
+---+----+---+
| id| nom|age|
+---+----+---+
|  1|Toto| 25|
|  2|Tata| 35|
|  3|Titi| 35|
+---+----+---+

In [ ]:
print("age > 30")
spark.sql("""
SELECT *
FROM personnes
WHERE age > 30
""")

age > 30
+---+----+---+
| id| nom|age|
+---+----+---+
|  2|Tata| 35|
|  3|Titi| 35|
+---+----+---+

:

In [ ]:
request = """
SELECT *
FROM personnes
WHERE age > 30
"""